
<div class="container">
  <div class="col-md-12">
    <div class="formss">
      <h2 class="h2">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <br/>
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<br/>