<p>
  <strong>Commenter:</strong>
  <%= product_name.product_name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= description.text %>
</p>

<p>
  <%= link_to 'Destroy Comment', [name.post_attachment, name],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>