<div class="container">
  <h1>Listing Users</h1>
  <%= link_to 'New product', new_user_path %>
  <table>
    <tr>
      <th>User_name</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
    <% @user.each do |product| %>
        <tr>
          <td><%= product.title %></td>
          <td><%= product.text %></td>
          <td><%= link_to 'Show', user_path(product) %></td>
          <td><%= link_to 'Edit', edit_user_path(product) %></td>
          <td><%= link_to 'Destroy', user_path(product),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </table>
</div>