<div class="container">
  <p>
    <strong>Product_name:</strong>
    <%= @user.user_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @user.price %>
  </p>

  <%=  link_to 'Back', users_show_path%>
</div>