        <div class="container">
          <div class="col-md-offset-5">
            <h1>
              About Us
            </h1>
      </div>
    <div class="row">
        <div class="col-md-4">
            <img src="/assets/proposal_logo.png" alt="" class="photo img-thumbnail"/>
    </div>
      <div class="col-md-7 col-md-offset-1">
            <p class="paragraph">
              Mrs. Elenor Arandia an authorized owner of “Mami Bulalo Papaitan (Tapsilogan)”,
              demands to have a personal website that is available for booking and ordering of foods.
              Because of the emerging modern technology, nowadays.
              Everyone has a capacity to look-over into the internet of what they need everyday.
            </p>
            <p class="paragraph">
              This said website concentrates on how can Mrs. Elenor
              determines the needs of her clients using the advanced technology.
              And this project will also tackle on how to negotiate in the internet.
            </p>
            <p class="paragraph">
              In this website we can see the foods or menus that the “Mami Bulalo Papaitan (Tapsilogan)”
              have .The following are foods or menu that are available in reservation and ordering.
              They have  the Long-ganisa, Lomi, Adobong Bangus, Pork-Chop, Tapa. They also have a snack a Burger
              with Icedtea. For the rice no worry because every foods or menus you want to order or
              for reservation has an available rice.
            </p>
      </div>
    </div>
 </div>
        <div class="container">
          <hr/>
          <div class="col-md-offset-5">
            <h1>
              Our Team
            </h1>
          </div>
              <div class="col-md-3">
                <img src="/assets/user.png" alt="" class="imgi img-thumbnail"/>
                <h5>Roxan Hermosilla</h5>
                <p class="paragraph">
                   The one who make the website of Mami Bulalo Papaitan Tapsilogan  so that
                  can achieve her goal.
                 </p>
              </div>
              <div class="col-md-3">
                <img src="/assets/user.png" alt="" class="imgi img-thumbnail"/>
                <h5>Liberty Hilvano</h5>
                <p class="paragraph">
                  The one who make the website of Mami Bulalo Papaitan Tapsilogan  so that
                  can achieve her goal.
                </p>
              </div>
              <div class="col-md-3">
                <img src="/assets/user.png" alt="" class="imgi img-thumbnail"/>
                <h5>Marianne Verona</h5>
                <p class="paragraph">
                  The one who make the website of Mami Bulalo Papaitan Tapsilogan  so that
                  can achieve her goal.
                </p>
              </div>
        </div>
