
<div class="container">
  <h4>Available Food for Breakfast</h4>
  <br/>
    <div class="row">
      <div class="col-md-3 kanan">
        <a href="#myModal5" data-toggle="modal" data-target="#myModal5"  data-toggle="tooltip"
           data-placement="right" title="Just click this.">
          <img src="/assets/tap2.jpeg" alt="" class="img-thumbnail"/>
        </a>
        <p class="long">Long-ganisa</p>
      </div>
      <div class="col-md-3 kanan">
        <a href="#myModal4" data-toggle="modal" data-target="#myModal4" data-toggle="tooltip"
           data-placement="right" title="Just click this.">
          <img src="/assets/lomi.jpeg" alt="" class="img-thumbnail"/>
        </a>
        <p class="long">Lomi</p>
      </div>
      <div class="col-md-3 kanan">
        <a href="#myModal3" data-toggle="modal" data-target="#myModal3"  data-toggle="tooltip"
           data-placement="right" title="Just click this.">
          <img src="/assets/porkchop.jpeg" alt="" class="img-thumbnail"/>
        </a>
        <p class="long">Pork-chop</p>
      </div>
      <div class="col-md-3 center">
        <a href="#myModal2" data-toggle="modal" data-target="#myModal2"  data-toggle="tooltip"
           data-placement="right" title="Just click this.">
          <img src="/assets/adobo.jpeg" alt="" class="img-thumbnail"/>
        </a>
        <p class="long">Adobong Bangus</p>
      </div>

      <div class="col-md-3 center">
        <a href="#myModal1" data-toggle="modal" data-target="#myModal1"  data-toggle="tooltip"
           data-placement="right" title="Just click this.">
          <img src="/assets/tapa.jpeg" alt="" class="img-thumbnail"/>
        </a>
        <p class="long">Tapa</p>
      </div>
    </div>

  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/tapa.jpeg" alt=""/>
              <h5>Tapa = Php.55</h5>
              <h4>Recipe</h4>
              <p>
                INGREDIENTS

                Â£ 2 beef ikot o kalabitin, hiwa madalang laban sa agos
                1/2 tasa lemon juice
                1/3 tasa ng toyo
                2 kutsarang asukal
                1/4 kutsarita lupa itim na paminta
                1 ulo ng bawang, tinadtad
                Canola o anumang cooking langis para sa Pagprito

                Pamamaraan ng Pagluto:

                1 halukayin lahat ng mga sangkap maliban sa pagluluto ng langis. Timpla na rin sa amerikana beef lubusan sa mga likido at seasonings.

                2 Cover at hayaan ang atsara sa loob ng ref para sa minimum na ng 4 na oras, o kahit na magdamag.

                3 Upang lutuin, patuyuin muna ang labis na likido mula sa atsara para sa karne ng baka ay magprito at hindi pakuluan sa sarili nitong likido.

                4 Init ang langis sa kawali, magprito ng karne ng baka sa batch.

                5 Paglilingkod na may pritong Rice, pritong itlog at ang isang bahagi ng hiwa tomatoes.
              </p>
            </center>

          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Add to Cart</a>
        </div>
      </div>
    </div>
    </div>

  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/porkchop.jpeg" alt=""/>
              <h5>Porkchop = Php.55</h5>
              <h4>Recipe</h4>
              <p>
                The center cut or pork loin chop
                includes a large T shaped bone,
                and is structurally similar to the beef
                T-bone steak. Rib chops come from the rib portion of
                the loin, and are similar to rib eye steaks. Blade
                or shoulder chops come from the spine, and tend to contain
                much connective tissue. The sirloin chop is taken from the
                (rear) leg end and also contains much connective tissue.
                The so-called "Iowa Chop" is a thick center cut; the
                term was coined in 1976 by the Iowa Pork Producers Association.
                A "Bacon Chop" is cut from the shoulder end and leaves the pork
                belly meat attached.Pork chops are sometimes sold marinated
                to add flavour; marinades such as a chilli sauce or a barbecue
                sauce are common.
              </p>
            </center>

          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/lomi.jpeg" alt=""/>
              <h5>Lomi = Php.80</h5>
              <h4>Recipe</h4>
              <p>
                INGREDIENTS:

                200 gramo ng lomi noodles
                2 kutsara ng langis sa pagluluto
                4 cloves tinadtad na bawang
                1 maliit na sibuyas tinadtad
                1 tasa ng karne ng baboy
                1/2 tasa atay ng baboy
                1 tasa squid ball
                1 kutsaritang asin]
                1/4 kutsaritang black lupa paminta
                6 tasa ng tubig
                1 piraso ng manok sabaw kubo
                1 kutsaritang puting asukal
                1 maliit na karot, julienned
                1 maliit na repolyo tinadtad
                1/2 tasa ng sibuyas leeks (tinadtad)
                2 itlog, pinalo

                Pamamaraan ng Pagluluto:

                Ibuhos sa pagluluto ng langis. Igisa ang bawang at sibuyas hanggang mabango.
                Idagdag ang mga karne ng baboy, atay ng baboy, pusit bola, asin at magpatuloy
                gumalaw Pagprito sa paglipas ng daluyan init para sa 5 minuto.
                Magdagdag ng balck paminta, tubig at kumulo para sa mga 10-15 minuto.
                Idagdag ang lomi noodles at magngitngit para sa isa pang 5 minuto. Magdagdag ng karot,
                repolyo, sibuyas leaks. Ibuhos sa pinalo itlog patuloy pagpapakilos, pagkatapos reboil.
                I-off ang init. Serve mainit at enjoy !!!
              </p>
            </center>

          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal5" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/tap2.jpeg" alt=""/>
              <h5>Longganisa = Php.40</h5>
              <h4>Recipe</h4>
              <p>
                Filipino sausage is generally called
                long-ganisa and the style varies from region to region.
                When I was growing up, the only long-ganisa
                I knew was the bright red, short and fat ones
                from our local market. They were sold in links
                and had to be boiled before frying. The main
                flavouring is garlic and there were no herbs nor
                spice save for a generous amount of black pepper.
                The seasoning is a perfect balance of saltiness and sweetness.
              </p>
            </center>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Add to cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/adobo.jpeg" alt=""/>
              <h5>Adobong Bangus = Php.55</h5>
              <h4>Recipe</h4>
              <p>
                Mga Sangkap:

                1 medium size bangus (bangus), hiniwa
                4 butil ng bawang, tinadtad
                2 tbsp. toyo
                1/2 kutsaritang. asin
                1/2 kutsaritang. paminta
                1 tasa ng suka
                1/3 tasa ng tubig
                langis

                Pamamaraan ng Pagluto:

                Pagsamahin ang lahat ng sangkap maliban sa langis.
                Atsara bangus (bangus) para sa isang oras sa refrigerator.
                Alisan ng tubig isda at hinahawakan ang atsara.
                Sa isang kawali, init langis. Magprito ng isda hanggang ginintuang kayumanggi sa magkabilang panig.
                Alisan ng tubig sa isang papel na tuwalya.
                Igisa bawang sa mainit na langis. Magdagdag reserve atsara.
                Dalhin sa pigsa at pagkatapos ay idagdag ang pritong bangus sa kawali.
                Kumulo at lutuin para sa isa pang 8 hanggang 10 minuto.
                Alisin mula sa init at ilipat sa isang serving pinggan.
              </p>
            </center>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
