<form target=”paypal” method=”post”
      action=”https://www.paypal.com/cgi-bin/webscr”>
  <input type=”image”
         src=”https://www.paypal.com/en_US/i/btn/x-click-but22.gif”
         border=”0″ name=”submit”
         alt=”Make payments with PayPal – it’s fast, free and secure!”>
  <input type=”hidden” name=”add” value=”1″>
  <input type=”hidden” name=”cmd” value=”_cart”>
  <input type=”hidden” name=”business” value=”bizname”>
  <input type=”hidden” name=”item_name” value=” >
</form>