  <div class="container">
                <h3>If you want further info:</h3>
            <div class="col-md-4">
              <div class="well">
              <img src="/assets/map.png" alt="" class="imgi img-thumbnail"/>
              <h4>
                Dulag, Leyte
              </h4>
                <h4>
                  Sta. Fe, Leyte
                </h4>
                <h4>
                  Palo, Leyte
                </h4>
                <h4>
                   Dulag, Leyte
                </h4>
            </div>
          </div>
     <div class="col-md-4 col-md-offset-1">
         <div class="well">
              <img src="/assets/fb.png" alt="" class="imgi img-thumbnail"/>
                 <h4>
                     <a href="http://www.facebook.com">ElenorArandia</a>
                 </h4>
                 <h4>
                      <a href="http://www.facebook.com">LibyHilvano</a>
              </h4>
              <h4>
                <a href="http://www.facebook.com">RoxanHermosilla</a>
              </h4>
              <h4>
                <a href="http://www.facebook.com">MarianneVerona</a>
              </h4>
         </div>
      </div>
     <div class="col-md-4 col-md-offset-1">
         <div class="well">
            <img src="/assets/call.jpg" alt="" class="imgi img-thumbnail"/>
                <h4>
                    09109756688
                </h4>
                 <h4>
                      09108998951
                </h4>
                <h4>
                      09307221186
                 </h4>
                <h4>
                      09071135911
                </h4>
       </div>
    </div>
 </div>