
<div class="container">
  <h4>Available Food for Lunch</h4>
  <br/>
  <div class="row">
    <div class="col-md-3 kanan">
      <a href="#myModal5" data-toggle="modal" data-target="#myModal5"  data-toggle="tooltip"
         data-placement="right" title="Just click this.">
        <img src="/assets/tap2.jpeg" alt="" class="img-thumbnail"/>
      </a>
      <p class="long">Long-ganisa</p>
    </div>
    <div class="col-md-3 kanan">
      <a href="#myModal4" data-toggle="modal" data-target="#myModal4" data-toggle="tooltip"
         data-placement="right" title="Just click this.">
        <img src="/assets/lomi.jpeg" alt="" class="img-thumbnail"/>
      </a>
      <p class="long">Lomi</p>
    </div>
    <div class="col-md-3 kanan">
      <a href="#myModal3" data-toggle="modal" data-target="#myModal3"  data-toggle="tooltip"
         data-placement="right" title="Just click this.">
        <img src="/assets/porkchop.jpeg" alt="" class="img-thumbnail"/>
      </a>
      <p class="long">Pork-chop</p>
    </div>
    <div class="col-md-3 center">
      <a href="#myModal2" data-toggle="modal" data-target="#myModal2"  data-toggle="tooltip"
         data-placement="right" title="Just click this.">
        <img src="/assets/adobo.jpeg" alt="" class="img-thumbnail"/>
      </a>
      <p class="long">Adobong Bangus</p>
    </div>

    <div class="col-md-3 center">
      <a href="#myModal1" data-toggle="modal" data-target="#myModal1"  data-toggle="tooltip"
         data-placement="right" title="Just click this.">
        <img src="/assets/tapa.jpeg" alt="" class="img-thumbnail"/>
      </a>
      <p class="long">Tapa</p>
    </div>
  </div>

  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/tapa.jpeg" alt=""/>
              <h5>Tapa = Php.55</h5>
              <h4>Recipe</h4>
              <p>
                Cured tapa uses salitre or saltpeter.
                This gives the meat it's red color.
                Saltpeter, a common ingredient found
                in commercially cured meats, is used
                for food preservation... not really a
                very appetizing additive to put in your
                food especially once you find out it's
                other uses. See Wikipedia.com for more
                information on saltpeter.
              </p>
            </center>

          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Reserve</a>
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Order</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/porkchop.jpeg" alt=""/>
              <h5>Porkchop = Php.55</h5>
              <h4>Recipe</h4>
              <p>
                The center cut or pork loin chop
                includes a large T shaped bone,
                and is structurally similar to the beef
                T-bone steak. Rib chops come from the rib portion of
                the loin, and are similar to rib eye steaks. Blade
                or shoulder chops come from the spine, and tend to contain
                much connective tissue. The sirloin chop is taken from the
                (rear) leg end and also contains much connective tissue.
                The so-called "Iowa Chop" is a thick center cut; the
                term was coined in 1976 by the Iowa Pork Producers Association.
                A "Bacon Chop" is cut from the shoulder end and leaves the pork
                belly meat attached.Pork chops are sometimes sold marinated
                to add flavour; marinades such as a chilli sauce or a barbecue
                sauce are common.
              </p>
            </center>

          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Reserve</a>
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Order</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/lomi.jpeg" alt=""/>
              <h5>Lomi = Php.80</h5>
              <h4>Recipe</h4>
              <p>
                Lomi or Pancit Lomi Recipe is a Filipino-Chinese
                dish best eaten while steaming hot, it is made with
                a variety of thick fresh egg noodles of about a quarter
                of an inch in diameter.  Pancit Lomi is very popular in
                eastern part of Batangas and Bacolod City.
                To spice up the taste of Lomi,
                depending on one’s preference, a mixture of
                soy sauce and crushed fresh red chili peppers can be added
                to the dish as a condiment.  You can also add small amount
                of finely chopped fresh red onions for extra pungency
              </p>
            </center>

          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Reserve</a>
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Order</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal5" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/tap2.jpeg" alt=""/>
              <h5>Longganisa = Php.40</h5>
              <h4>Recipe</h4>
              <p>
                Filipino sausage is generally called
                long-ganisa and the style varies from region to region.
                When I was growing up, the only long-ganisa
                I knew was the bright red, short and fat ones
                from our local market. They were sold in links
                and had to be boiled before frying. The main
                flavouring is garlic and there were no herbs nor
                spice save for a generous amount of black pepper.
                The seasoning is a perfect balance of saltiness and sweetness.
              </p>
            </center>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Reserve</a>
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Order</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/adobo.jpeg" alt=""/>
              <h5>Adobong Bangus = Php.55</h5>
              <h4>Recipe</h4>
              <p>
                This is a simple milk fish recipe. The milk fish is
                fried then cooked in soy sauce and vinegar. A fish version
                of the famous pork adobo dish. The only extra step on cooking
                this recipe is frying the fish first unlike the pork or chicken
                adobo that you can just put every ingredients in the pot then
                simmer it until cooked.
              </p>
            </center>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Reserve</a>
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Order</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h3>Log_in Form</h3>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <label>EmailAddress or Phone Number:</label>
              <input type="text" name="emailAdd" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" name="fullName" class="form-control"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Log_in</a>
          <a href="#myModal10" data-toggle="modal" data-target="#myModal10">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal_style" id="myModal10" tabindex="1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h3>Register New Account</h3>
        </div>
        <div class="modal-body sign">
          <form action="#">
            <div class="form-group">
              <label>FullName:</label>
              <input type="text" name="fullName" class="form-control"/>
            </div>

            <div class="form-group">

              <label>EmailAddress:</label>

              <input type="text" name="emailAdd" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" name="fullName" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Confirm Password:</label>
              <input type="password" name="fullName" class="form-control"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary"> Done</button>
        </div>
      </div>
    </div>
  </div>
</div>

