<div class="container">
      <div id="sampleCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#sampleCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#sampleCarousel" data-slide-to="1"></li>
          <li data-target="#sampleCarousel" data-slide-to="2"></li>
          <li data-target="#sampleCarousel" data-slide-to="3"></li>
          <li data-target="#sampleCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="/assets/tapa.jpeg" alt="" style="width: 1200px ; height: 500px"/>
            <div class="carousel-caption">
             <p class="Delivery"> No Available Delivery</p>
            </div>
          </div>
          <div class="item">
            <img src="/assets/porkchop.jpeg" alt="" style="width: 1200px ; height: 500px"/>
            <div class="carousel-caption">
              <p class="Delivery"> No Available Delivery</p>
            </div>
          </div>
          <div class="item">
            <img src="/assets/lomi.jpeg" alt="" style="width: 1200px ; height: 500px"/>
            <div class="carousel-caption">
              <p class="Delivery"> No Available Delivery</p>
            </div>
          </div><div class="item">
          <img src="/assets/tap2.jpeg" alt="" style="width: 1200px ; height: 500px"/>
          <div class="carousel-caption">
            <p class="Delivery"> No Available Delivery</p>
          </div>
          </div>
          <div class="item">
            <img src="/assets/adobo.jpeg" alt="" style="width: 1200px ; height: 500px"/>
            <div class="carousel-caption">
              <p class="Delivery"> No Available Delivery</p>
            </div>
          </div>
        </div>
        <a href="#sampleCarousel" class="left carousel-control" role="button" data-slide="prev">
        </a>
        <a href="#sampleCarousel" class="right carousel-control" role="button" data-slide="next">
        </a>
      </div>
      <ul>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="close" data-dismiss="modal">
                  &times;
                </div>
                <h3>Register New Account</h3>
              </div>
              <div class="modal-body">
                <form action="#">
                  <div class="form-group">
                    <label>FullName:</label>
                    <input type="text" name="fullName" class="form-control"/>
                  </div>
                  <div class="form-group">

                    <label>EmailAddress:</label>

                    <input type="text" name="emailAdd" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="fullName" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" name="fullName" class="form-control"/>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle"></span> Done</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="close" data-dismiss="modal">
                  &times;
                </div>
                <h3>Log_in Form</h3>
              </div>
              <div class="modal-body">
                <form action="#">
                  <div class="form-group">
                    <label>EmailAddress or Phone Number:</label>
                    <input type="text" name="emailAdd" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="fullName" class="form-control"/>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle"></span>Log_in</button>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>