<div class="container">
  <h4>Available Snack</h4>
  <div class="center">
    <a href="#myModal7" data-toggle="modal" data-target="#myModal7" data-toggle="tooltip"
       data-placement="right" title="Just click this.">
      <img src="/assets/burger.jpeg" alt="" class=" img img-thumbnail"/>
       <img src="/assets/index.jpg" alt="" class="img img-thumbnail"/>

    </a>
  </div>
  <div class="modal fade" id="myModal7" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h2>Details</h2>
        </div>
        <div class="modal-body">
          <form action="#">
            <center>
              <img src="/assets/burger.jpeg" alt="" class="imgi"/>
              <img src="/assets/index.jpg" alt=""/>
              <h5>Burger w/ Icedtea = Php.19</h5>
              <h4>Recipe</h4>
              <p>
                A sandwich consisting of one or more cooked patties of
                ground meat, usually beef, placed inside a sliced bun.
                Hamburgers are often served with lettuce, bacon, tomato,
                onion, pickles, cheese and condiments such as mustard,
                mayonnaise, ketchup, relish, and green chile.
                The term "burger" can also be applied to the meat patty
                on its own, especially in the UK where the term "patty"
                is rarely used. The term may be prefixed with the type
                of meat used, as in "turkey burger"
              </p>
            </center>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Reserve</a>
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Order</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h3>Log_in Form</h3>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <label>EmailAddress or Phone Number:</label>
              <input type="text" name="emailAdd" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" name="fullName" class="form-control"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#myModal" data-toggle="modal" data-target="#myModal">Log_in</a>
          <a href="#myModal10" data-toggle="modal" data-target="#myModal10">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal_style" id="myModal10" tabindex="1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close" data-dismiss="modal">
            &times;
          </div>
          <h3>Register New Account</h3>
        </div>
        <div class="modal-body sign">
          <form action="#">
            <div class="form-group">
              <label>FullName:</label>
              <input type="text" name="fullName" class="form-control"/>
            </div>

            <div class="form-group">

              <label>EmailAddress:</label>

              <input type="text" name="emailAdd" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" name="fullName" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Confirm Password:</label>
              <input type="password" name="fullName" class="form-control"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary"> Done</button>
        </div>
      </div>
    </div>
  </div>
</div>