<div class="container">
  <%= image_tag @post_attachment.avatar %>
  <%= form_for(@post_attachment) do |f| %>
      <% if @post_attachment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post_attachment.errors.count, "error") %> prohibited this post_attachment from being saved:</h2>

            <ul>
              <% @post_attachment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :post_id %><br>
        <%= f.number_field :post_id %>
      </div>
      <div class="field">
        <%= f.label :avatar %><br>
        <%= f.text_field :avatar %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>
