
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Our Availables Product Now</h1>
<div class="row">
  <table>
    <thead>

    </thead>

    <tbody>
    <% @post_attachments.each do |post_attachment| %>
        <tr>
          <%=link_to (image_tag post_attachment.avatar, :class => "wat" ), post_attachment %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


  <br>

</div>

