
<div class="container">
  <div class="ccontainer">
    <p id="notice"><%= notice %></p>
    <%= image_tag @post_attachment.avatar %>


    <td><%= @post_attachment.post_id %></td>
    <td><%= @post_attachment.avatar %></td>
    <td><%= link_to 'Show', @post_attachment %></td>
    <td><%= link_to 'Edit', edit_post_attachment_path(@post_attachment) %></td>
    <td><%= link_to 'Destroy', @post_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
</div>



