
<div class="container">
  <%= form_for(@post, :html => { :multipart => true }) do |f| %>
      <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>

      <%= f.fields_for :post_attachments do |p| %>
          <div class="field">
            <%= p.label :avatar %><br>
            <%= p.file_field :avatar, :multiple => true, name: "post_attachments[avatar][]" %>
          </div>
      <% end %>

      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>

</div>
