
<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <% @post_attachments.each do |p| %>
      <%= image_tag p.avatar_url %>
      <%= link_to "Edit Attachment", edit_post_attachment_path(p) %>
  <% end %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>

</div>
