@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.ttf");
}

@font-face {
    font-family: "vinera";
    src: url("../fonts/VINERA.TTF");
}

@font-face {
    font-face-name: "washthin";
    font-family: "washthin";
    src: url("../fonts/Waschkueche.ttf");
}

@font-face {
    font-family: "capshad";
    src: url("../fonts/ccapshad.ttf");
}

@font-face {
    font-family: "parkvane";
    src: url("../fonts/Parkvane.ttf");
}
@font-face {
    font-family:VINERA;
    src: url("../fonts/VINERA.TTF");
}
body{
   /*background-image: url("/assets/yellow.jpeg");*/
    background-size: 100%;
    /*background: repeating-linear-gradient( green, limegreen, greenyellow);*/
    /*font-family: washbold;*/
}

a {
    color: saddlebrown;
    font-size: 20px;
    font-family: capshad;
}
h2 {
    font-family: "Helvetica Neue", fantasy, cursive, sans-serif;
    font-weight: bold;
    color: saddlebrown;

}
label {
    font-family: washbold;
}
.content{
    width: 300px;
    /*height: 500px;*/
    float: left;
    position: relative;
    /*border: 1px solid violet;*/
}
.content1{
    width: 800px;
    height: auto;
    float: right;
    /*border: 1px solid green;*/
}
.img-thumbnail{
    width: 82.5%;
    height: 150px;
    border: dashed sandybrown;
}
.image{
    height: 30px;
    width: 30px;
    /*margin-left: 10px;*/
    /*float: right;*/
}
.photo {
    width: 345px;
    height: 184px;
}
.carousel{
    /*width: 100%;*/
}
.Delivery{
    font-family: VINERA;
}
.paragraph{
    font-family: parkvane;
    font-size: 12px;
    color: sandybrown;
}

/*.content2{*/
    /*height: 100px;*/
/*}*/
/*li{*/
    /*background-color: #00a100;*/
    /*opacity: 0px;*/
/*}*/
/*.two{*/
    /*font-family: fantasy;*/
    /*font-size: 30px;*/
    /*margin-left: 28%;*/
/*}*/
/*.index{*/
/*.index{*/
/*.one{*/

li{
    list-style-type: none;
    /*margin-left: 30px;*/
}
.imgi{
    height: 100px;
    width: 100px;
}
.navbar {
    background-color: #efc171;
    background-size: 100%;
    border-bottom: 10px;
    border-bottom-color: palegoldenrod;
}

.glyphicon{
    margin-left: 50px;
}
.img{
    height: 200px;
    width: 200px;
}
.cart{
    margin-left: 5px;
    float: left;
}
.input-group{
    margin-top:10px;
    width: 400px;
    float: right;

}

.content3{
    float: left;
}
.content2{
    float: right;
}

.avail{
    font-family: "vinera";
    font-size: 11px;
    font-weight: bold;
}

.copy{
    font-family: "Glyphicons Halflings";
    font-weight: bold;
}
.cop{
    font-family: "Glyphicons Halflings";
    font-weight: bold;
}

.content5{
    float: right;
    width: 800px;
}
.form-group{
    width: 300px;

}
.img-responsive{
    height: 150px;
}

.back {
    background-image: url("/assets/back5.jpeg");
    background-size: 100%;
    width: 100%;
    height: 110px;
    color: saddlebrown;
}

.back2 {
    background-image: url("/assets/back5.jpeg");
    background-size: 100%;
    width: 100%;
    height: 30px;
    color: saddlebrown;
}

.image {
    margin-top: 1px;
    width: 150px;
    height: 110px;
    float: left;
    padding: 10px;
}

h1 {
    color: saddlebrown;
    font-family: "Helvetica Neue", fantasy, cursive, sans-serif;

}

h3 {
    color: saddlebrown;
    font-family: cursive;
}

.footer {
    background-image: url("/assets/back3.jpeg");
    font-size: 10px;
}
h4{
    color: saddlebrown;
}
.icon-bar{
    background-color: saddlebrown;
}
a:hover{
    color: saddlebrown;
}
.long{
    margin-left:  100px;
    font-family: "Helvetica Neue", fantasy, cursive, sans-serif;
    color: saddlebrown;
}

.center {
    margin-left: 170px;
}

.kanan {
    margin-left: 30px
}

.sign {
    width: 500px;
    height: 700px
}

.foot {
    margin-top: 10px;
}

.modal_style {
    height: 580px;
}

table{
    border: 1px solid saddlebrown;
}
.field{
    font-family: "Helvetica Neue", fantasy, cursive, sans-serif;
    margin-left: 10px;
}
.formss{
    border: 2px dashed saddlebrown;
}
.h2{
    margin-left: 20px;
    font-family: "Helvetica Neue", fantasy, cursive, sans-serif;
    font-weight: bold;
    color: saddlebrown;
}
.actions{
    margin-left: 10px;
}
.ren{
    position: static;
    margin-left: 20px;
}
.fil{
    margin-right: 200px;
}
.post{
    height: 200px;
    width: 250px;
}
.wat{
    height: 150px;
    width: 200px;
    margin: 5px;
}
ul:hover{
    background-color:#efc171;
}