<!DOCTYPE html>
<html>
<head>
  <title>Bulaloan</title>
  <link rel="shortcut icon" href="/assets/proposal_logo.png" type="image/x-icon"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="back">
    <div class="container">
      <img src="/assets/proposal_logo.png" alt="logo" class="image"/>
      <h1>Mami Bulalo Papaitan Tapsilogan</h1>
      <h4>"The place to taste best Filipino dishes."</h4>
    </div>
</div>
  <nav class="navbar">
    <div class="container-fluid container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbarToggle">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="nav navbar-nav navbar-right navigation" id="trans-nav">

          <li class="nav-color" style="border-top-left-radius: 20px"><%= link_to 'Home', home_real_path  %></i></li>

          <li class="nav-color"><a href="/post_attachments">Menu</a></li>
              <li class="nav-color"><%= link_to 'About Us', home_About_us_path %></li>
              <li class="nav-color"><%= link_to 'Contact Us', home_Contact_us_path %></li>


          <li>
            <%if signed_in?%>

              <li class="nav-color"><%=link_to current_user.email, edit_user_registration_path%></li>
              <li class="nav-color"><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
          <%else%>
              <li class="nav-color"><%=link_to "Register", new_user_registration_path%></li>
              <li class="nav-color"><%=link_to "Login", new_user_session_path%></li>
          <%end%>
          </li>
          <li class="nav-color"  style="border-top-right-radius: 20px"><a href="/posts">Owner</a></li>
        </ul>
      </div>
    </div>
  </nav>

<%= yield %>
<div class="back2">
  <div class="container">
     <center><p class="copy">&copy;Tapsilogan : All Rights Reserved 2015</p></center>
    </div>
</div>
</body>
<script>
    $(function(){
        $(".nav-brand").tooltip();
        $(".popover-trigger").popover({
            trigger:"focus"
        });
        $('.carousel').carousel({
            interval: 20000
        })
    });
</script>
</html>
